.App {
  text-align: center;
  
}
.xd
{
  background-color:green;
  font-size: 24px;
}
p
{
  color: aqua;
  border: 1px;
  border-radius: 0.5px;
  
}
.App-logo {
  height: 40vmin;
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 1000vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #09d3ac;
} */
